<!DOCTYPE html>
<html>
<head>
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>

    {% if user.is_authenticated %}
    <p>Вы вошли как: {{ user.email|default_if_none:"[Без email]" }}</p>

        <form action="{% url 'social:disconnect' 'google-oauth2' %}" method="post">
            {% csrf_token %}
            <button type="submit">Отвязать Google</button>
        </form>

        <form action="{% url 'social:disconnect' 'github' %}" method="post">
            {% csrf_token %}
            <button type="submit">Отвязать GitHub</button>
        </form>

        <p><a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не авторизованы.</p>
    {% endif %}
</body>
</html>
